<section class="detail-content">
  <h2>Scores for {{model.name}}</h2>

  <p>There are {{model.scores.length}} scores for this game.</p>

  <ol class="game-scores">
    {{#each model.scores as |score|}}
      <li class="game-scores__item">
        <span class="game-scores__username">{{score.username}}</span>
        <span class="game-scores__score">{{score.score}}</span>
      </li>
    {{/each}}
  </ol>
</section>

{{#footer-bar btnText="Add Score" as |toggleForm|}}
  <button class="footer-bar__button">Add Game</button>
  <form onsubmit={{route-action 'saveNewGame' newGameName toggleForm}} class="footer-form">
    <label class="footer-form__label">Name</label>
    {{input type="text" class="footer-form__input" placeholder="Name" value=newGameName}}

    <button class="footer-bar__button footer-bar__button--save">Save</button>
  </form>
{{/footer-bar}}
